{% extends 'base.html' %}

{% block title %}Calculate BMI{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'wellnesstrack:bmi_form' %}"><i class="fas fa-spoon"></i> BMI Tracker</a>
    <a href="{% url 'wellnesstrack:mood_form' %}"><i class="fas fa-smile"></i> Mood Tracker</a>
    <a href="{% url 'wellnesstrack:sleep_form' %}"><i class="fas fa-bed"></i> Sleep Tracker</a>
    <a href="{% url 'wellnesstrack:past_analyses' %}"><i class="fas fa-history"></i> View Past Analyses</a>        
</nav>
<br>
<h2>Calculate BMI</h2>

<div class="mini-box">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Results</button>
    </form>

    {% if result and category %}
        <p><strong>Your BMI is:</strong> {{ result }}</p>
        <p><strong>Category:</strong> {{ category }}</p>
    {% endif %}
</div>

{% endblock %}
