<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to FitCheckApp</title>
</head>
<body>
    <h1>Welcome to FitCheckApp</h1>
    <p>Your health and fitness journey starts here!</p>

    <!-- Navigation Buttons -->
    <div>
        <a href="{% url 'user_login' %}">
            <button>Login</button>
        </a>
        <a href="{% url 'user_create' %}">
            <button>Register</button>
        </a>
    </div>
</body>
</html>
