{% extends 'base.html' %}
{% block content %}
<style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      height: 100vh;
      display: flex;
    }

    button {
        margin-top: 0px;
    }

    .button {
      background-color: black;
      color:white;
      border: 1px, solid, black;
      padding: 15px 30px;
      border-radius: 20px;
    }

    .button:hover {
      color: black;
      background-color: white;
    }
    .button:active {
      color: black;
      background-color: white;
      border-color: white;
    }

    .sidebar {
      width: 220px;
      background-color: #AED9E0;
      color: black;
      padding: 20px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      border-right: 1px solid black;
    }

    .sidebar h2 {
      margin-top: 0;
      font-size: 1.4rem;
    }

    .sidebar a {
      display: block;
      color: #5E6472;
      text-decoration: none;
      margin: 10px 0;
      padding: 15px;
      border-radius: 5px;
    }

    .sidebar a:hover {
      background-color: #B8F2E6;
    }

    .sidebar a.active {
      background-color: #4CAF50;
      color: white;
    }

    .main {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .topbar {
      background-color: #AED9E0;
      color: black;
      padding: 15px 30px;
      font-size: 20px;
      font-weight: bold;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-align: end;
      border-bottom: 1px solid black;
    }

    .content {
      flex: 1;
      padding: 30px;
      background: linear-gradient(#AED9E0, #FAF3DD, #B5DCE1);;
      overflow-y: auto;
    }

    footer {
      text-align: center;
      padding: 5px;
      color: #888;
      background: #f0f0f0;
    }
    form {
        float: left;
    }
</style>
    <!-- Meal Plan Generation -->
    <div class="meal_plan" style="float:left; margin-top: -30px; margin-left: -30px; padding-left: 22px; width: 648px; height: 260px; flex-shrink: 0; border: 1.5px solid #000000; border-left-style: hidden; border-top-style: hidden">
    {% if current_meal %}
        <h4 style="width: 617px; height: 20px; margin-bottom: 15px; font-size: 20px"> Next Meal: </h4>
        <h2 style="font-size: 32px; margin-top: 0px; margin-bottom: 0px"> {{ current_meal.get_meal_type_display }}: {{ current_meal.meal_id.meal_name }} </h2>

        <br />
        <form action="{% url 'NutritionGuidance:ng_nextmeal' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button" style="float: left; margin-left: 30px; margin-top: 47px; margin-right: 25px">Proceed to Next Meal</button>
        </form>
        <br />
        <form action="{% url 'NutritionGuidance:ng_recipe' current_meal.meal_id %}">
            <button type="submit" class="button" style="float:left; margin-right: 25px; margin-top: 28px; padding-bottom: 15px">View Recipe</button>
        </form>
        <br />
        <form action="{% url 'NutritionGuidance:ng_planlist' %}">
          <button type="submit" class="button" style="float: left; margin-top: 10px">View Meal Plan</button>
        </form>
    {% else %}
      <p style="width: 617px; height: 20px; margin-bottom: 15px; font-size: 20px"> No meal plan found! Generate one now: </p>
      <form method="post">
          {% csrf_token %}
          <button type="submit" class="button">Generate Meal Plan</button>
      </form>
      <br />
    {% endif %}
    </div>
    <!-- Hydration tracker -->
    <div style="float: left; margin-top: -30px; padding-left: 22px; width: 580px; height: 260px; flex-shrink: 0; border: 1.5px solid #000000; border-left-style: hidden; border-top-style: hidden;">
    {% if ht %}
    {{ ht.water_goal|json_script:"water_goal" }}
    {{ ht.container_size|json_script:"cont_size" }}
    {{ ht.active_end|json_script:"active_end" }}
    {{ ht.active_start|json_script:"active_start" }}
    <h4 style="width: 617px; height: 20px; margin-bottom: 15px; font-size: 20px"> Next water notification at: </h4>
    <h2 id="next" style="font-size: 64px; margin-top: 0px; margin-bottom: 0px"></h2>
    <br />
    <form action="{% url 'NutritionGuidance:ht_update' %}">
        <button type="submit" class="button" style="float: left; margin-top: 10px; margin-left: 25px; margin-right: 35px">Configure Hydration Tracker</button>
    </form>
    <form action="{% url 'NutritionGuidance:ht_delete' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button" style="float: left; margin-top: 10px">Disable Hydration Tracker</button>
    </form>
    <script>
        // variables calculations
        // times to drink = water goal / container size (ceiling division)
        // active hours = active end - active start
        // intervals = active hours / times to drink
        
        const water_goal = JSON.parse(document.getElementById('water_goal').textContent);
        const cont_size = JSON.parse(document.getElementById('cont_size').textContent);
        const active_end = JSON.parse(document.getElementById('active_end').textContent);
        const active_end_hours = parseInt(active_end);
        const active_end_minutes = active_end.substring(3,5);
        const active_start = JSON.parse(document.getElementById('active_start').textContent);
        const active_start_hours = parseInt(active_start);
        const active_start_minutes = active_start.substring(3,5);

        const times_to_drink = Math.ceil(water_goal/cont_size);
        const active_hours = active_end_hours - active_start_hours;
        const active_minutes = parseInt(active_end_minutes) - parseInt(active_start_minutes);
        const intervals = (active_hours + (active_minutes / 60))/times_to_drink;
        let next_hours = 0;
        let next_minutes = 0;


        // function to get next notification at any time
        // nowfromthen = current time - active start
        // progress = nowfromthen / intervals
        // nextnotif = active start + intervals*(progress) + intervals
        function nextNotif() {
            
            const current = new Date();
            const current_hours = current.getHours();
            const current_minutes = current.getMinutes();
            const nowfromthen_hours = current_hours - active_start_hours;
            const nowfromthen_minutes = current_minutes - parseInt(active_start_minutes);
            const progress = Math.floor((nowfromthen_hours + (nowfromthen_minutes / 60))/intervals);

            next_hours = Math.floor(active_start_hours + intervals*(progress + 1));
            next_minutes = Math.floor(parseInt(active_start_minutes) + ((intervals%1)*60)*(progress + 1));

            if (next_minutes >= 60){
                next_hours += Math.floor(next_minutes/60);
                next_minutes = next_minutes % 60;
            }
            next_hours = next_hours.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false});
            next_minutes = next_minutes.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false});
            if ((next_hours > active_end_hours || (next_hours == active_end_hours && next_minutes > active_end_minutes)
                    || next_hours < active_start_hours)){
                document.getElementById('next').innerHTML = active_start_hours.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false}) 
                                                    + ":" + active_start_minutes.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false});
            }
            else {
                document.getElementById('next').innerHTML = next_hours + ":" + next_minutes;
            }
            
        }

        // function to check notifications
        // if current time >= current notification time
        // javascript alert
        function checkNotif() {
            const current = new Date();
            const current_hours = current.getHours();
            const current_minutes = current.getMinutes();

            if (current_hours == next_hours && current_minutes == next_minutes){
                alert("You should drink water NOW!");
            }
        }

        // poll check function every minute
        setInterval(checkNotif, 10000);

        // get next notification on page load
        nextNotif();
        

    </script>
    {% else %}
    <p style="width: 617px; height: 20px; margin-bottom: 15px; font-size: 20px">No tracker found! Create one now: </p>
    <form action="{% url 'NutritionGuidance:ht_create' %}">
        <button type="submit" class="button">Set Hydration Tracker</button>
      </form>
    {% endif %}
    </div>
{% endblock %}
