{% extends 'base.html' %}
{% block content %}
<style>
    .bg {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 15px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        margin: 10px;
        width: 50%;
        display: inline-block;
        text-align: left;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    ul {
        list-style-type: none;
    }
    li {
        padding: 5px 0;
        font-size: 20px;
    }
</style>
<div class="bg">
    <h2 style="font-size: 64px; text-align: center;"> {{ meal.meal_name }}</h2>
    <ul>
        <h2> Ingredients: </h2>
        {% for ingredient in meal.recipe_id.ingredient.all %}
            <li> {{ ingredient }} </li>
        {% endfor %}
        <br />
        <h2> Instructions </h2>
        <p> {{ meal.recipe_id.recipe_instructions }} </p>
    </ul>
</div>
{% endblock %}